/* Estilos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para el encabezado */
h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Estilos para el párrafo */
p {
    color: #666;
    text-align: center;
    padding: 10px;
}

/* Estilos para el botón */
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
/* Estilos para la imagen redonda */
.rounded-image {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 200px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin deformarse */
}
lspf´nioghc ñxzd{mvnoj}